Hypothesis:

Null Hypothesis = Ho => Decision always leads to status quo. Current status/assumption doesn't change
Alternate Hypothesis = Ha> Decision leads to opposite of Ho

One Tail and Two Tail Tests

One Tail test

Left Tail test

Example - Car mileage test

Ho - All our cars average mileage is greater than 25KMPL
Ha - Average mileage is less than 25kmpl

Left tailed test: The alternative hypothesis contains the "<" sign

Right tail test

Example - New method will reduce delivery time

Ho - Our new home delivery method reduces delivery time
Ha - New method will increase the delivery time

Right tailed test: The alternative hypothesis contains the ">" sign

Problem

A car manufacturing company of all their cars is 25KMPL. The population standard deviation is known from the past experience is 1.5kmpl. A car rental company wants to sell the Null Hypothesis that the average mileage is atleast 25kmpl. 
Car rental representative drove 30 cars(samples) of the same company and recorded each car mileage. The average mileage of the sample turned out to be 24.2 kmpl.

Test the null hypothesis?

(HO) Null Hypothesis>=25
(H1) Alternative Hypothesis < 25

In [3]:
import numpy as np
mean = 25
sample_mean = 24.2
std = 1.5
n = 30

In [4]:
z = (sample_mean - mean)/(std/np.sqrt(30))
z

#Below z score need to check in the z-table to get the p-value (z-table.com)

-2.921186973360889

In [ ]:
#Using Statistics tools

In [5]:
import scipy.stats as st
import numpy as np
p_value = st.norm.cdf(sample_mean,loc=mean,scale=std/np.sqrt(30))
p_value

0.0017435024460706768

#if samples are >=3o we consider it as normal distribution hence norm
#Cumulative Density fuction = cdf
#p_value is probability value

p_value or probability value determines if the result is statistically significant or not. If it is significant then it means outcome is not by chance or random luck

Important points
a) Standard alpha level = 0.05
b) if p_value is <0.05 then we reject Null Hypothesis (Ho)
c) if p_value is >0.05 then we failed to reject the Ho

Conclusion: As the p_value is less than alpha(0.05), we reject the Null Hypothesis (mileage>=25kmpl). Which also means that all the cars do not give 25 mileage so rental company will not buy the cars

Type 1 Error If Ho is true and you reject Ho
example: if average car mileage is 25 or >25 and the rental agency reject its Type 1 error

Type 2 Error if Ho is false and you fail to reject Ho
example: if average car mileage <25 and the rental agency buys the cars its Type 2 error

Statistical Tools

1 ttest or student's ttest
2 ANOVA
3 Chi-square

ttest

One sample ttest
1 A sample ttest is used to determine whether the mean of a sample is significantly different from a known mean

Two sample ttest
1 Two sample ttest is used to determine if there is a significant difference between two independent groups mean value

In [9]:
import pandas as pd
hyp = pd.read_csv('Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

A teacher wants to teach students for a competitive exam. She collected samples of student marks from different schools and based on her past experience she believes that, these type of students will score than 60 marks in the exams. Now she wants to conduct hypothesis test on the marks

In [ ]:
#Ho = mu>=60
#Ha = mu<60

In [10]:
hyp['Math1'].mean()

52.645

In [11]:
alpha = .05
xbar = 52.645
mu=60

1 Sample t test

In [12]:
import scipy.stats as st

In [14]:
#Since we are conducting test for one sample we will go for 1sample test
st.ttest_1samp(hyp.Math1,mu)

TtestResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22, df=199)

In [ ]:
#when you run ttest you get 2 values 1. t statistics score and 2 pvalue for two tail
#pvalue/2

2 Sample ttest

Independent sample
paired sample

In [15]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [16]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [18]:
#How to subset the data on gender
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

Independent sample

In [22]:
t,p = st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [23]:
p

0.6800544974232143

Paired Sample

In [24]:
t,p=st.ttest_rel(hyp.Math1,hyp.Math2)

In [25]:
p

0.1767652560550735