In [ ]:
Break function

In [2]:
city = ['Bengaluru', 'Noida', 'Delhi', 'Hyderabad', 'Mumbai']

for val in city:
    if val == 'Hyderabad':
        break
    print (val)

Bengaluru
Noida
Delhi

In [3]:
salary = [2000, 3800, 4000, 4500, 5000, 7000, 8000]

for val in salary:
    if val >4600:
        break
    print (val)

2000
3800
4000
4500

In [ ]:
Continue function

In [4]:
city = ['Bengaluru', 'Noida', 'Delhi', 'Hyderabad', 'Mumbai']

for val in city:
    if val == 'Hyderabad':
        continue
    print (val)

Bengaluru
Noida
Delhi
Mumbai

In [6]:
salary = [2000, 4000, 5000, 7000, 8000, 4500, 3800]

for val in salary:
    if val >5500:
        continue
    print (val)

2000
4000
5000
4500
3800