In [2]:
def used_car_price (car_year, car_brand, kmeters):
    if car_year == 2020:
        if 10000<kmeters<=15000:
            if car_brand == 'Honda Amaze':
                print('Rs 690,000 - Rs 750,000')
            elif car_brand == "Hyundai Creta":
                print ('Rs 945000 - Rs 1080000')
            else:
                print ('No stocks right now, please visit after few days')
                
        elif 15001<kmeters<=25000:
            if car_brand == 'Honda Amaze':
                print ('Rs 550,000 - Rs 600,000')
                
            elif car_brand == 'Hyundai Creta':
                print('Rs 845000 - Rs 980000')
                
            else: 
                print ('No stocks right now, please visit after few days')
                
        else:
            print ('No Stocks')

            
    elif car_year == 2021:
        if 10000<kmeters<=15000:
            if car_brand == 'Honda Amaze':
                print ('Rs 750,000 - Rs 1050,000')
            elif car_brand == "Hyundai Creta":
                print ('Rs 1080,000 - Rs 1250,000')
            else:
                print ('No stocks right now, please visit after few days')
        else: 
            print ('No stocks right now, please visit after few days')
    else:
        print ('Sorry we dont keep cars older than 2020')

In [3]:
used_car_price (2020,'Honda Amaze',12000)

Rs 690,000 - Rs 750,000

In [ ]:
Lambda Function

In [ ]:
lambda arguments : expression

In [4]:
add_num = lambda y: y+30

print (add_num(50))

80

In [5]:
multi_num = lambda a,b : a*b

print (multi_num(15,20))

300

In [6]:
def my_fun (*args):
    for i in args:
        print ('my args: -', i)

In [7]:
my_fun ('India', 'Bengaluru', 560048)

my args: - India
my args: - Bengaluru
my args: - 560048

In [18]:
def my_kwargs (**kwargs):
    for key, value in kwargs.items():
        
        print (key,'=', value)

In [19]:
my_kwargs(Students = ['Ram', 'Shiva'], Marks = [70,75])

Students = ['Ram', 'Shiva']
Marks = [70, 75]