In [ ]:
String Formatting

In [ ]:
Hackerrank.com==register yourself as a developer
python

In [ ]:
Old Style Formatting

In [3]:
name="John"
age = 30
name_2 = "Rohit"
age_2 = 20
formatted_string = "My name is %s and I am %d years old." % (name_2,age_2)
print(formatted_string)

My name is Rohit and I am 20 years old.

In [4]:
name_3 = "George"
name_4 = "Paul"

In [8]:
"My first name is %s and my last name is %s"%(name_3,name_4)

'My first name is George and my last name is Paul'

In [ ]:
New Style formatting

In [9]:
name = 'John'
age = 30
formatted_string = "My name is {} and I am {} years old". format(name,age)
print(formatted_string)

My name is John and I am 30 years old

In [12]:
name = 'John'
age = 30
formatted_string = "My name is {0} and I am {1} years old. Hi {0}!". format(name,age)

In [13]:
print(formatted_string)

My name is John and I am 30 years old. Hi John!

In [ ]:
f-string formatting

In [14]:
name = 'John'
age=30
format_string = f"My name is {name} and i am {age} years old."
print(format_string)

My name is John and i am 30 years old.

In [15]:
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 30 years old.

In [17]:
def sum_all(a,b,c):
    add=a+b+c
    print(f"The first number is a:{a}, b: {b} and c: {c} and the sum of numbers is {add}")

In [18]:
sum_all(2,3,4)

The first number is a:2, b: 3 and c: 4 and the sum of numbers is 9

In [ ]:
#OOPS Polymorphism

In [ ]:
Method Overriding

In [1]:
class Animal:
    def make_sound(self):
        print("General animal sound")
        
class Dog:
    def make_sound(self):
        print ("Woof")
        
class Cat:
    def make_sound(self):
        print ("Meow")
        
cat = Cat()
dog = Dog()

cat.make_sound()
dog.make_sound()

Meow
Woof

In [3]:
import math

class Shape:
    def area(self):
        print ("Area cannot be calculated")
        
class Circle (Shape):
    def __init__(self,radius):
        self.radius = radius
        
    def area(self):
        return math.pi * self.radius ** 2
    
class Rectangle(Shape):
    def __init__(self, height,width):
        self.height = height
        self.width = width
        
    def area (self):
        return self.width * self.height
    
class Triangle(Shape):
    def __init__(self,base,height):
        self.base = base
        self.height = height
        
    def area(self):
        return 0.5 * self.base * self.height

In [5]:
shapes = [Circle (3), Rectangle (4,2), Triangle (6,2)]

for shape in shapes:
    print(f"Area: {shape.area()}")

Area: 28.274333882308138
Area: 8
Area: 6.0

In [ ]:
Method Overloading

In [9]:
class MathOperations:
    def add(self,a,b):
        return a+b
    
    def add(self,a,b,c):
        return a + b + c

In [10]:
maths_ops = MathOperations()

In [11]:
maths_ops

In [13]:
print(maths_ops.add(2,3))

TypeError: MathOperations.add() missing 1 required positional argument: 'c'

In [14]:
print(maths_ops.add(2,3,5))

10

In [ ]:
Polymorphism with Inbuilt functions

In [16]:
print(len('hello'))
print(len([1,2,3]))
print(len({"a":1,"b":2}))

5
3
2

In [17]:
str(10)

'10'

In [18]:
str([1,2,3])

'[1, 2, 3]'

In [19]:
str({"a":1,"b":2})

"{'a': 1, 'b': 2}"

In [ ]:
Polymorphism in Data Science

In [23]:
result1 = 2 + 3
result2 = "Hello World " + "Ursheshu!"
result3 = [1,2,3] + [4,5,6]

In [24]:
print(result1)
print(result2)
print(result3)

5
Hello World Ursheshu!
[1, 2, 3, 4, 5, 6]

In [ ]:
Aggregate functions

In [25]:
import numpy as np

numbers = [1,2,3,4,5]
result1 = sum(numbers)
result2 = np.mean(numbers)

In [26]:
print(result1)
print(result2)

15
3.0

In [ ]:
Handling missing data

In [28]:
import pandas as pd

data = {"A": [1,2,None,4],
        "B": [5,None,7,8]}
df=pd.DataFrame(data)

In [29]:
df

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  8.0

In [30]:
result1 = df.mean()
result2 = df.sum()

In [31]:
result1

A    2.333333
B    6.666667
dtype: float64

In [32]:
result2

A     7.0
B    20.0
dtype: float64

In [ ]:
Function application to columns or rows

In [35]:
data = {'A':[1,2,3,4],
        'B':['apple','banana','cherry','date']}

df=pd.DataFrame(data)

In [37]:
result1=df['A'].mean()
result2=df['B'].str.upper()

In [38]:
result1

2.5

In [39]:
result2

0     APPLE
1    BANANA
2    CHERRY
3      DATE
Name: B, dtype: object