In [1]:
location = ['Bengaluru','Delhi','Noida','Chennai','Hyderabad']
print (location)

['Bengaluru', 'Delhi', 'Noida', 'Chennai', 'Hyderabad']

In [2]:
location = ['Bengaluru','Delhi','Noida','Chennai','Hyderabad']
for city in location:
    print (city)

Bengaluru
Delhi
Noida
Chennai
Hyderabad

In [3]:
salary = [2000, 4000, 5000, 7000, 8000, 4500, 3800]

for val in salary:
    if val>5500:
        print (val)

7000
8000

In [10]:
student_scores = [35,67,78,79,12,34,67,54,89]

for marks in student_scores:
    if marks>60:
        if marks>70:
            print(marks, '- Distinction')
        else:
            print(marks, '- First Class')
            
    elif marks>50 and marks <=60:
        print (marks, '-Second Class')
        
    elif marks>=35:
        print (marks, '-Pass')
        
    else:
        print (marks, '- Better luck next time ')

35 -Pass
67 - First Class
78 - Distinction
79 - Distinction
12 - Better luck next time
34 - Better luck next time
67 - First Class
54 -Second Class
89 - Distinction

In [11]:
salary = [2000,4000,5000,7000,8000,4500, 3800]

salary = [val for val in salary if val>5500]

salary

[7000, 8000]

In [17]:
for num in range (2,5):
    print ('Multiplication table for -', num)
    for i in range (1,11):
        print (num*i)
        if i == 10:
            print ('\n')
            
else:
    print ('*' * 30)
    print ('End of Multiplication table')
    print ('*' * 30)

Multiplication table for - 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for - 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for - 4
4
8
12
16
20
24
28
32
36
40


******************************
End of Multiplication table
******************************

In [18]:
i = 0

while i < 10:
    i = i+1
    print (i, 'Data Trained')

1 Data Trained
2 Data Trained
3 Data Trained
4 Data Trained
5 Data Trained
6 Data Trained
7 Data Trained
8 Data Trained
9 Data Trained
10 Data Trained

In [24]:
import time
result = time.localtime()
print (result)

time.struct_time(tm_year=2023, tm_mon=8, tm_mday=13, tm_hour=0, tm_min=4, tm_sec=59, tm_wday=6, tm_yday=225, tm_isdst=0)

In [29]:
while True:
    result = time.localtime()
    if result.tm_hour == 0 and result.tm_min == 10:
        print ('Wake up call')
        break

Wake up call

In [30]:
students = ['Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu']

In [31]:
for name in enumerate (students):
    print (name)

(0, 'Naveen')
(1, 'Rathna')
(2, 'Vivaan')
(3, 'Shridhar')
(4, 'Chintu')
(5, 'Chinnu')

In [32]:
for name in enumerate (students,100):
    print (name)

(100, 'Naveen')
(101, 'Rathna')
(102, 'Vivaan')
(103, 'Shridhar')
(104, 'Chintu')
(105, 'Chinnu')

In [33]:
students_name = ['Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu']
students_marks = [53,72,64,81,55,86]

In [34]:
students_details = list(zip(students_name,students_marks))

In [35]:
students_details

[('Naveen', 53),
 ('Rathna', 72),
 ('Vivaan', 64),
 ('Shridhar', 81),
 ('Chintu', 55),
 ('Chinnu', 86)]

In [37]:
name, marks_num = zip(*students_details)

In [38]:
name

('Naveen', 'Rathna', 'Vivaan', 'Shridhar', 'Chintu', 'Chinnu')

In [39]:
marks_num

(53, 72, 64, 81, 55, 86)