Tuple

1) Constructive Tuple
2) Basic Tuple Methods
3) Immutability
4) When to use Tuples

In [1]:
work_location = ('Bengaluru', 'Noida', 'Chennai', 'Delhi')
work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [2]:
type (work_location)

tuple

In [3]:
employee_salary = (20000,35000,40000)
employee_salary

(20000, 35000, 40000)

In [ ]:
work_location.append ('Hyderabad')

In [ ]:
Not possible as it is Immutable

In [ ]:
work_location = list(work_location)
work_location

In [ ]:
type (work_location)

In [ ]:
work_location.append ('Hyderabad')
work_location

In [ ]:
work_location = tuple (work_location)

In [ ]:
work_location

In [ ]:
len(work_location)

In [ ]:
work_location[1]

In [ ]:
work_location [-2]

In [ ]:
numbers = (25,50,88,90,50)
numbers

In [ ]:
numbers.index(50)

In [ ]:
numbers.count(50)

In [ ]:
Sets

In [ ]:
roll_numbers = set()

In [ ]:
type(roll_numbers)

In [ ]:
roll_numbers.add(1)
roll_number,2

In [ ]:
roll_numbers.add(2)
roll_numbers

In [ ]:
roll_numbers.add(1)
roll_numbers

In [ ]:
remove_dups = [8,5,6,9,1,1,2,2,3,4,5,6,1,1,7,7]

In [ ]:
dups_removed = set(remove_dups)
dups_removed

In [ ]:
dups_removed = list(dups_removed)

In [ ]:
dups_removed

Dictionary

Constructing a Dictionary

In [ ]:
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
my_dict

In [ ]:
my_dict['key2']

In [72]:
my_dict = {'Roll_number':123,'Marks':[12,23,33],'Subject':['Computer','Maths','Science']}

In [73]:
my_dict['Subject']

['Computer', 'Maths', 'Science']

In [74]:
my_dict['Subject'][1]

'Maths'

In [75]:
my_dict['Subject'][0].upper()

'COMPUTER'

In [76]:
my_dict['Marks'][0]=my_dict['Marks'][0]+30

In [77]:
my_dict['Marks']

[42, 23, 33]

In [78]:
my_dict['Marks'][2]+=20

In [79]:
my_dict['Marks']

[42, 23, 53]

In [80]:
my_dict['Marks'][2]-=3

In [81]:
my_dict['Marks']

[42, 23, 50]

In [82]:
my_dict['Year']='3rd'

In [83]:
my_dict

{'Roll_number': 123,
 'Marks': [42, 23, 50],
 'Subject': ['Computer', 'Maths', 'Science'],
 'Year': '3rd'}

In [87]:
my_dict.update ({'Roll_number':100})

In [88]:
my_dict

{'Roll_number': 100,
 'Marks': [42, 23, 50],
 'Subject': ['Computer', 'Maths', 'Science'],
 'Year': '3rd'}

In [89]:
my_dict.keys()

dict_keys(['Roll_number', 'Marks', 'Subject', 'Year'])

In [90]:
my_dict.values()

dict_values([100, [42, 23, 50], ['Computer', 'Maths', 'Science'], '3rd'])

In [91]:
my_dict.items()

dict_items([('Roll_number', 100), ('Marks', [42, 23, 50]), ('Subject', ['Computer', 'Maths', 'Science']), ('Year', '3rd')])

Branching (if/elif/else)

In [3]:
i = 12


if i<10:
    print("It is less than 10")
    
else:
    print("It is something else")

It is something else

In [4]:
print("It is less than 10") if i<10 else print ("It is something else")

It is something else

In [8]:
Item_1 = 550

Item_2 = 50

if (Item_1+Item_2)>500:
    print("You are eligible for free shipping")
else:
    extra = 500 - (Item_1+Item_2)
    print('Please add', extra, 'Rs worth of an item for free shipping')

You are eligible for free shipping

In [10]:
a = 200

b = 33

c = 500

if a>b and c<a:
    print("Both conditions are true")
else:
    print("Both condition is false")

Both condition is false

In [12]:
a = 200

b = 33

c = 500

if a>b or c<a:
    print("Atlease one condition is true")
else:
    print("Both condition is false")

Atlease one condition is true

In [18]:
marks = 25

if marks>=60:
    if marks >=70:
        print(marks,'- Distinction')
    else:
        print(marks,'- First Class')
elif marks<60 and marks>50:
    print (marks,'-Second Class')
    
elif marks >= 35:
    print (marks, '-Pass')
    
else:
    print (marks, 'Fail - Better luck next time')

25 Fail - Better luck next time

In [19]:
num1=20
num2=30

if num1=='20':
    print ('A')
    
elif num2>25:
    print ('B')

B